@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=ZCOOL+KuaiLe&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

.bm-burger-button {
  position: relative;
  width: 28px;
  height: 23px;
}

.bm-burger-bars {
  background: white;
}

.bm-burger-bars-hover {
  background: #0a0a0a;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: white;
}

.bm-menu-wrap {
  top: 0;
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: #0a0a0a;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: white;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
}

.bm-overlay {
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 1);
}
